@tailwind base;
@tailwind components;
@tailwind utilities;
/* /*  */
:root {
 --button_color: #DAE06D;
 --card_color: #EFEFEF;
 --card_50: #EFEFEF 50%;
 --dark_forest_50: #728F4F 50%;
 --light_forest: #98C26C;
 --dark_gray: #6D6D6D;
 --dark_forest: #728F4F ;
 --dark_green: #3D6F5B;
 --forest_50: #98C26C 50%;
 --light_green: #DFEDE7;
 --light_text: #414141;
 --middle_50: #88C4A6 50%;
 --middle_green: #88C4A6;
 --middle_gray: #B4B4B4 ;
 --white: #FFFFFF ;

}

@media (prefers-color-scheme: dark) {
 :root {
   --foreground-rgb: 255, 255, 255;
   --background-start-rgb: 0, 0, 0;
   --background-end-rgb: 0, 0, 0;
 }
}

body {
 color: rgb(var(--foreground-rgb));
 background: linear-gradient(
     to bottom,
     transparent,
     rgb(var(--background-end-rgb))
   )
   rgb(var(--background-start-rgb));
}



/*Fonts*/
#title1{
    font-family: Lexend Deca;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 60px */
    letter-spacing: -0.44px;
    text-align: center;
}

#content1_bold{
    font-size: 40;
    font-family: 'Lexend Deca';
    font-weight: '700';
    line-height: 60;
    word-Wrap: 'break-word'
}

#content1{
    font-family: Lexend Deca;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.198px;
}

#content2{
    font-family: Lexend Deca;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
    letter-spacing: -0.143px;
}

#content2_bold{

}


#button_text{
    font-family: Lexend Deca;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: -0.198px;
}

#button_text2{
    font-family: Lexend Deca;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
    letter-spacing: -0.11px;
}

#subtitle1{
    font-family: Lexend Deca;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 39px */
    letter-spacing: -0.286px;
}

#subtitle2{
    font-family: Lexend Deca;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 37.5px */
    letter-spacing: -0.275px;
}

#link{
    font-family: Lexend Deca;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.22px;
    text-decoration-line: underline;
}